* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #E1E1E6;
  --bg-color: #2A2141;
  --bg-bar: #7a757581;
  --hover-link: #8a6cd4;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hover-link);
}

header {
  text-align: center;
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 28px;
}

.initial-title h1{
  margin-bottom: 12px;
}

.initial-title h1:hover{
  color: var(--hover-link);
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player img {
  width: 300px;
  border-radius: 10px;

  margin-bottom: 29px;
}

.player-description {
  width: 300px;
}

.player-description h2 {
  margin-bottom: 5px;
}

.player-duration {
  width: 300px;
  margin-top: 25px;
}

.player-duration .player-bar {
  height: 9px;

  background-color: var(--bg-bar);
  
  border: 1px solid var(--text-color);
  border-radius: 5px;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.player-bar progress {
  width: 0;
  height: 9px;
}

.player-bar .player-ball {
  font-size: 35px;
  border-radius: 50%;
  margin-left: -19px;
}

.player-duration .player-temp {
  margin-top: 8px;

  display: flex;
  justify-content: space-between;
}

.player-buttons {
  margin-top: 15px;
  width: 100%;

  font-size: 40px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-buttons .button {
  cursor: pointer;
}

.player-buttons .button:hover {
  color: var(--hover-link)
}

.player-buttons .button-play, .button-pause {
  font-size: 50px;
}

.player-buttons .button-pause {
  display: none;
}

footer {
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links {
  margin-top: 20px;
  width: 300px;
  font-size: 30px;

  display: flex;
  justify-content: space-around;
}

.social-links ion-icon:hover {
  color: var(--hover-link)
}